.additional-button {
  background-color: #f2f6fa;
  color: #2E363E;
  border-radius: 5px;
  font-size: 0.68em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10%;
  padding: 10px 18px;
}

.main-button{
  background-color: #FED84C;
  color: #2E363E;
  border-radius: 8px;
  font-size: 1.12em;
  font-weight: 500;
  padding: 30px 50px;
}
