.custom-made {
  background-image: url(../imgs/bg/made.png);
  background-size: 100%;
}

.custom-made__caontainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 700px;
  padding-bottom: 800px;
}

.custom-made__caontainer__text {
  width: 28%;
  text-align: start;
}

.custom-made__title {
  text-align: start;
  margin-bottom: 24px;
  margin-top: 24px;
  justify-content: start;
}

.custom-made__text {
  padding-bottom: 24px;
  color: white;
  font-size: 21px;
}
