.page__footer {
  text-align: center;
  color: #7e868e;
  font-size: 12px;
  margin-bottom: 75px;
}

.footer__link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 0 auto;
  margin-top: 22px;
}
