body {
  background-color: #081130;
  color: #2e363e;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.container {
  padding: 47px 372px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
a,
p,
button,
li,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 12px;
}

li::before {
  content: "";
  position: absolute;
  bottom: 60px;
  left: -20px;
  width: 10px;
  height: 10px;
  border: 1px solid #5d6afb;
  background-color:   #5d6afb;
  border-radius: 50%;
}
