html {
  background-color: #081130;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 370px 47px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
a,
button,
li,
ul,
button {
  margin: 0;
  padding: 0;
}
