.section__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 80px;
}

.section__title--black {
  color: #2e363e;
}

.section__title--white {
  color: #ffffff;
}
